<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vendor" translate="label" class="vendor" sortOrder="100">
            <label>Logicrays</label>
        </tab>
        <section id="newsletter_discount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Newsletter Discount</label>
            <tab>vendor</tab>
            <resource>Logicrays_NewsletterDiscount::config_extension</resource>
            <group id="discount" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Discount</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="discount_price" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount Price</label>
                    <depends>
                        <field id="newsletter_discount/discount/enable">1</field>
                    </depends>
                </field>
                <field id="discount_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount Name</label>
                    <depends>
                        <field id="newsletter_discount/discount/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
